
# Workflow Practice

In this notebook, you’ll practice connecting to a SQLite database, creating tables from CSV files using Pandas, and writing SQL queries to explore the data.

The dataset comes from the [Bike Store Sample Database](https://www.kaggle.com/datasets/dillonmyrick/bike-store-sample-database) by Dillon Myrick. It models a fictional bike retailer with multiple stores, products, customers, and staff. Each table connects to others using foreign keys such as `customer_id`, `store_id`, and `product_id`.

You’ll:
- Connect to a local SQLite database
- Create tables using `pandas.to_sql()`
- Write and test SQL queries using `pd.read_sql()`

All of your work will take place directly in this notebook. Each question prompt is written below as a Markdown cell, followed by an empty code cell for you to write your query.


## Step 1: Connect to the Database

Run the following cell to connect to (or create) a SQLite database called `bike_store.db`.  
If the file doesn’t exist yet, SQLite will automatically create it.

In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect("bike_store.db")
connection


## Step 2: Create Tables from CSV Files

The `data/` folder contains one CSV file per table.  
Use `pandas.read_csv()` and `DataFrame.to_sql()` to load each file into your database.

You only need to do this once.  
After that, you’ll be able to run queries against your newly created tables.

In [3]:
# Example for one file
customers = pd.read_csv("data/customers.csv")
customers.to_sql("customers", connection, if_exists="replace", index=False)

1445

In [4]:
brands = pd.read_csv("data/brands.csv")
brands.to_sql("brands", connection, if_exists="replace", index=False)

9

In [5]:
categories = pd.read_csv("data/categories.csv")
categories.to_sql("categories", connection, if_exists="replace", index=False)

7

In [6]:
order_items = pd.read_csv("data/order_items.csv")
order_items.to_sql("order_items", connection, if_exists="replace", index=False)

4722

In [7]:
orders = pd.read_csv("data/orders.csv")
orders.to_sql("orders", connection, if_exists="replace", index=False)

1615

In [8]:
products = pd.read_csv("data/products.csv")
products.to_sql("products", connection, if_exists="replace", index=False)

321

In [9]:
staffs = pd.read_csv("data/staffs.csv")
staffs.to_sql("staffs", connection, if_exists="replace", index=False)

10

In [10]:
stocks= pd.read_csv("data/stocks.csv")
stocks.to_sql("stocks", connection, if_exists="replace", index=False)

939

In [11]:
stores = pd.read_csv("data/stores.csv")
stores.to_sql("stores", connection, if_exists="replace", index=False)

3

### Verify Your Tables

Run a query to make sure your tables were created successfully.

In [12]:

pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", connection)

          name
0    customers
1       brands
2   categories
3  order_items
4       orders
5     products
6       staffs
7       stocks
8       stores

## Step 3: Test a Simple Query

Before starting the exercises, confirm your connection and tables are working by previewing the first few rows of the `customers` table.

In [13]:

pd.read_sql("SELECT * FROM customers LIMIT 5;", connection)

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820

### Q1. List all customers and their cities.

Return the first name, last name, and city of each customer. Sort alphabetically by last name and then by first name.

In [ ]:
# Your query here

### Q2. Show all products and their prices.

Display each product name along with its list price. Sort by price in descending order.

In [ ]:
# Your query here

### Q3. Find all customers from California.

Return first name, last name, city, and state for all customers whose state is 'CA'. Sort alphabetically by last name.

In [ ]:
# Your query here

### Q4. Count how many products are in each category.

Return the category name and the number of products in that category. Sort from the highest count to the lowest.

In [ ]:
# Your query here

### Q5. Find all orders placed in 2018.

List the order ID, order date, and customer ID for orders made during the year 2018. Sort by order date.

In [ ]:
# Your query here

### Q6. Show each order with its total number of items.

Join the `orders` and `order_items` tables. Group by order ID and return the number of items per order.

In [ ]:
# Your query here

### Q7. List total revenue per store.

Revenue = quantity * list_price * (1 - discount). Join `orders`, `order_items`, and `stores`, group by store name, and return total revenue.

In [ ]:
# Your query here

### Q8. Find the top 5 customers who spent the most overall.

Join `customers`, `orders`, and `order_items`. Sum the total spending per customer and return the top five spenders.

In [ ]:
# Your query here

### Q9. Show the best-selling product in each category.

Join `products`, `order_items`, and `categories`. For each category, identify the product with the highest total quantity sold.

In [ ]:
# Your query here

### Q10. Identify the employees (staff) who processed the most orders.

Join `staffs` and `orders`. Count the number of orders handled by each staff member and return the results sorted by highest total.

In [ ]:
# Your query here